<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test API</title>
</head>
<body>
    <div class="container">
        <h1>Test API</h1>
        <p>This is a test API</p>
        <h3>USER:</h3>
        <ul>
            <li>GET http://localhost:3000/users - get all users</li>
            <li>GET http://localhost:3000/users/:id - get user by id</li>
            <li>POST http://localhost:3000/users - post new user</li>
            <li>DELETE http://localhost:3000/users/:id - delete user by id</li>
            <li>PUT | PATCH http://localhost:3000/users/:id - update user by id</li>
        </ul>
    </div>
</body>
</html>